.carousel-item .inline-content {
  display: flex;
  align-items: center;
}

.carousel-item .inline-content h1 {
  margin-right: 20px;
  margin-left: 600px;
}

  .carousel .carousel-inner {
    display: flex;
    margin-right: 80%;
    align-items: center;
  }
  
.carousel .carousel-item img {
    padding: 0.5px;
    width: 180px;
  }
  

.carousel-container {
    display: flex;
    justify-content: flex-end;
}
  
.background-carousel {
  background-image: url("./images/depositphotos_37524563-stock-photo-black-background-or-luxury-gray.jpg");
  background-repeat: no-repeat;
  background-size: cover;
      }
  .zoom {
    transition: 1s;
}
.zoom:hover {
    transform: scale(1.2);
    color: rgb(255, 255, 255);
}
h1 a {
  color:rgb(223, 164, 0);
  text-decoration: none;
}

h1 a:hover {
  text-decoration: underline;
  }
.underline-on-hover:hover {
    text-decoration: underline;
}